* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #000000;
  padding: 10px;
}

.grid-container div {
  background-color: #565656;
  text-align: left;
  padding: 100px 100px;
  font-size: 30px;
}

.item5 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item6 {
  grid-column-start: 1;
  grid-column-end: 3;
}